* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_text {
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
  font-size: 44px;
}
.container {
  display: grid;
  justify-content: center;
  position: relative;
}

.app {
  display: grid;
  grid-template-columns: repeat(6, 280px);
  column-gap: 20px;
  row-gap: 50px;
  min-width: 320px;
  position: relative;
}

.title {
  font-size: 25px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.img_div {
  width: 100%;
}

.modal {
  position: absolute;
  top: 0;

  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  background-color: gray;
  display: none;
}

.hidden {
  display: none;
}

.div_img {
  position: relative;
}

.info {
  top: 0;
  left: 5px;
  height: 10px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.538);
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
}

.infos {
  display: none;
  top: 30px;
  left: 5px;
  height: 80%;
  width: 95%;
  position: absolute;
  color: #efefef;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.51);
  font-size: 18px;
  padding: 10px;
  overflow: auto;
  line-height: 25px;
}

.infos::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

@media (min-width: 1396px) and (max-width: 1820px) {
  .app {
    grid-template-columns: repeat(5, 260px);
  }
}

@media (min-width: 1025px) and (max-width: 1395px) {
  .app {
    grid-template-columns: repeat(4, 235px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    grid-template-columns: repeat(3, 240px);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .app {
    grid-template-columns: repeat(2, 220px);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .app {
    grid-template-columns: repeat(1, 300px);
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
